@{
    ViewBag.Title = "Home Page";
}
<section class="images-wrapper">
    <div class="images" id="image1"></div>
</section>
<div class="jumbotron">
    <h1>Sugar Creek Canine Ranch</h1>
    <p class="lead">We're a small, family owned doggie care center that strives to get to know each and every fur baby so we can provide the care they need and have them feel as comfortable as possible while with us! We love and care for all breeds of dogs, no matter how big or small! We provide all the services your pup could need to keep them happy and healthy while staying with us, take a look at them below!</p>
</div>

<div class="row" id="myGroup">
    <div class="col-md-4">
        <h2>Overnight Stays</h2>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#overnightCollapse" data-parent="myGroup" role="button" aria-expanded="false" aria-controls="OvernightCollapse">
            Learn more
        </button>
    </div>
    <div class="col-md-4">
        <h2>Doggie Daycare</h2>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#daycareCollapse" data-parent="myGroup" role="button" aria-expanded="false" aria-controls="DaycareCollapse">
            Learn more
        </button>
    </div>
    <div class="col-md-4">
        <h2>Pet Grooming</h2>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#groomingCollapse" data-parent="myGroup" role="button" aria-expanded="false" aria-controls="GroomingCollapse">
            Learn more
        </button>
    </div>

    <div class="accordion-collapse">
        <div class="collapse" id="overnightCollapse">
            <div class="card card-body">
                <p>Need a comfortable place for your pups to spend a night? We have seventeen private suites that all have access to their own outdoor run, so your pup will have plenty of opportunities to get fresh air. They'll also get potty walks in a grassy area where they can stretch out their legs and sniff to their heart's content! We also provide individualized care for every member of your fur-family, from comfy bedding to special medical or feeding needs. Interested in having your dog socialize with others while they're staying with us? Check out the Daycare section to learn more!</p>
                <p>If you're new to our family and are interested in having us care for yoru pups for the first time, please be sure to fill out any new client forms.</p>
                <h5>Pickup and Dropoff times</h5>
                <p>Every Day <strong>8am - 10am</strong> and <strong>4pm - 6pm</strong></p>
            </div>
        </div>
        <div class="collapse" id="daycareCollapse">
            <div class="card card-body">
                <p>Looking for a fun environment for your dog to socialize and play? Our doggie daycare would be a perfect fit! We hold daycare a few days a week, and if you're pup is already spending the night with us, then they could go to daycare at no extra cost during their boarding stay with us!</p>
                <h5>Daycare Hours</h5>
                <p>Tuesday, Wednesday and Friday from <strong>8am - 6pm</strong></p>
            </div>
        </div>
        <div class="collapse" id="groomingCollapse">
            <div class="card card-body">
                <p>Pet Grooming. Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.</p>
                <h5>Grooming Hours</h5>
                <p>Tuesday - Saturday from <strong>8am - 4pm</strong></p>
            </div>
        </div>
    </div>
</div>