@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sugar Creek Canine Ranch</h1>
    <p class="lead">We're a small, family owned doggie care center that strives to get to know each and every fur baby so we can provide the care they need and have them feel as comfortable as possible while with us! We love and care for all breeds of dogs, no matter how big or small!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Overnight Stays</h2>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Learn more
        </a>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Doggie Daycare</h2>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Learn more
        </a>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Pet Grooming</h2>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Learn more
        </a>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
    </div>
</div>