@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sugar Creek Canine Ranch</h1>
    <p class="lead">We're a small, family owned doggie care center that strives to get to know each and every fur baby so we can provide the care they need and have them feel as comfortable as possible while with us! We love and care for all breeds of dogs, no matter how big or small.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Overnight Stays</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Doggie Daycare</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pet Grooming</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>